spring:
  application:
    name: task-service
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=stefaninidb;encrypt=true;trustServerCertificate=true;
    username: sa
    password: Stefanini2025!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
  flyway:
    enabled: true
    baseline-on-migrate: true